


html{
    scroll-behavior: smooth;
  }

  html,body{
    max-width: 100%;
    overflow-x: hidden;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  /* CORE STYLES */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

/* .container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
} */

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.mir{
  border-radius: 50%;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}


  /* #loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('tenor.gif') no-repeat center;
    z-index: 9999;
  } */
 
  #miscellaneous{
    background-image: url('white-and-red-heart-print-cloths-2063004.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .yo {
    box-shadow: 2px 4px 3px gray;
   
    padding:10px 10px;

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  .yo:hover {
    box-shadow: 4px 8px 6px gray;
    transform:scale(1.2,1.2);
    background: brown;
    cursor: pointer;
  }
  li {
    list-style: none;
  }
 
  #carousel{
    width: 100%;
    height: 100vh;
    
    position: relative;
    background-image: url("wrapped-gift-boxes-with-ribbons-on-table-1303080.jpg"),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

  }
 .landing-text{

   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%) ;
   

 }
  /* .tom {
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-out;
  }
  .tom:hover {
    text-decoration: underline;
  } */

  #googlemug{
    /* width: 100%; */
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url('mug1.jpg');
    height: 100vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
  }
  .dow{
    padding-top:150px;
  }
  .dol{
    padding-top: 230px;
   
  }
  #roomdeco{
    /* width: 100%; */
    
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url('decobg.jpg');
    background-size:cover;
    height:100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #speaker{
    /* width: 100%; */
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url('speakerbg.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
 
  .customi{
      font-size: 24px;
      font-weight: bold;
  }
  #magicmirror{
    width: 100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url('mirrorbg.jpeg');
    background-size:cover;
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stit{
    font-size: 130%;
  }
  
 
@media (max-width:768px){
 .putmargintoponmobile{
   margin-top: 40px;

 }
 .putmarginbottomonmobile{

  margin-bottom: 50px;
 }
 
}
figure{
  overflow: hidden;
}
.siz{
  font-size: 100px;
}
@media (max-width:768px){
  .siz{
    font-size: 43px;
  }
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right;
}
.site-footer .social-icons a
{
  width:80px;
  height:80px;
  line-height:80px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
 
}
.inst{
color: #3f729b;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  #googlemug{
    /* width: 100%; */
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url('assorted-color-mugs-on-brown-wooden-floating-rack-2079449.jpg');
    height: 100vh;
    background-size:cover;

   
    
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
  }

}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

#keychains{
  background-image: url('brassmetalchain.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
background-attachment: fixed;

}
.keychainheading{
  color: darkred;
  font-size: 150%;
}
@media (max-width:768px)
{
  .kom{
    font-size: 60px;
  }
  
}
#magicmirrorbody{
  height: 100vh;
background-image: url('board-bright-design-fabric-235994.jpg');
background-position: center;
background-size: cover;
background-repeat: repeat;



}
#boxes{
  margin-top: 10px;
  background-image: url('boxesBackground.jpg'),linear-gradient(rgba(3, 2, 2, 0.4),rgba(0,0,0,0.4));
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}
#boxesmain{
  width: 100%;
  height: 100vh;
  background-image: url('board-bright-design-fabric-235994.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  
}

#testvideo{
width: 100%;
max-width: 1000px;
height: auto;

}
.keychainbody{

  background-image: url('board-bright-design-fabric-235994.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  

}
@media(max-width:768px){
  .dsom{
    display: none;
  }
}